*{
	font-family: Montserrat, sans-serif;
	color: #333333;
}

html, body{
	width: 100%;
}

.container{
	padding: 50px;
	color: white;
	max-width: 100%;
}

.row{
	width: 100%;
	margin: 0 auto;
    max-width: 960px;	
	padding: 150px 0;
}

.hopefully{
	width: 100%;
}

.pre{
	text-align: center;
}

a{
	color: #E91E63;
	text-decoration: none;
}

li{
	margin-left: 45px;
}

h2, h3{
	font-family: Montserrat, sans-serif;
	text-align: center;	
}

h5{
	font-size: 2rem;
}

.fa-envelope, .fa-phone{
	margin-top: 10px;
	color: #2196F3;
}

.fa-angle-double-down{
	color: #FFFFFF;
}

#final{
	border: none;
	text-align: center;
	padding-bottom: 200px;
}

.pic{
	border-radius: 5px;
	width: 450px;
	display: block;
	margin: 0 auto;
}

button{
	display: block;
	margin: 0 auto;
	background-color: #03A9F4;
	padding-top: 5px;
}

