*{
	margin: 0;
	padding: 0;
	border: none;
	font-family: arial, sans-serif;
}

body{
	height: 100%;
	width: 100%;
	background-color: rgb(255,128,0);	
}

.hold{
	margin: 0 auto;
	max-width: 25%;
	padding: 250px 0;
}

.title{
	margin: 30px 0;
	width: 100%;
	
	font-size: 2em;
	color: #FFFFFF;
	
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

.intro{
	width: 100%;
	color: #FFFFFF;
	font-size: 1.2em;
	padding: 0 0 0 5px;
	font-family: 'Josefin Sans', sans-serif;
}

.begin{
	width: 100%;
	background-color: #CCff00;
	margin-top: 100px;
	padding: 20px 0;
	text-align: center;
	color: #FFFFFF;
	
	font-size: 2em;
	font-family: 'Josefin Sans', sans-serif;
}

.background{
	position: fixed;
	left: -250px;
	bottom: -170px;
	background-color: rgb(205,78,0);
	width: 1000px;
	height: 400px;	
	
	-ms-transform: rotate(200deg); /* IE 9 */
    -webkit-transform: rotate(200deg); /* Chrome, Safari, Opera */
    transform: rotate(200deg);
	z-index: -5;
}

.foreground{
	background-color: rgb(235,108,0);
	position: fixed;
	right: -135px;
	bottom: -200px;
	
	width: 900px;
	height: 400px;
	
    -ms-transform: rotate(-205deg); /* IE 9 */
    -webkit-transform: rotate(-205deg); /* Chrome, Safari, Opera */
    transform: rotate(-205deg);	
}
