*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #37474F;
}

.wrap{
	width: 40%;
	margin: 0 auto;
	padding: 100px 0;
}

input{
	margin: 10px 0 0 55px;
	background: none;
	border: none;
	font-size: 1.5em;
}

#mailer{
	height: 45px;
	width: 45px;
	border-radius: 100%;
	background-color: #607D8B;
	position: absolute;

}


i{
	color: #FFFFFF;
	margin: 5px 0 0 6px;
}

h2{
		color: #FFFFFF;
		font-size: 1.2em;
		font-family: arial, sans-serif;
		margin-left: 25px;

}
 
#sivv{
     height:49px;
     width:49px;
     border-radius: 98px;
  /*   -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;*/
	background-color: #263238;	

	position: absolute;
	z-index: -1;
	margin: -2px 0 0 -2px;
	
	box-shadow: inset 0 0 15px #111111;	
	overflow: hidden;
}
