*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	color: #FFFFFF/*uck*/;
	font-size: 1.5em;
	text-align: center;
	margin: 5% 0;
	

    transition: color 1.5s ease;
}

p{
	padding: 2% 0;
}

a:hover{
	color: #00FFCC;
}

html{
	background-color: black;
}

aside{
	max-width: 320px;
	background-color:rgba(0, 0, 0, 0.5);	
	float: right;
}

/*Solve the mystery of why there
are a few pixels of additional whitespace below 
the images in this div*/
.frame{
	overflow:auto;
	background-color:rgba(0, 0, 0, 0.5);	
	font-family: 'Dosis', sans-serif;
	color: white;
	font-size: 1.5em;
	text-align: center;
	border-bottom: 2px solid black;
}

.linkity{
	width: 100%;
	
	background-color:rgba(0, 0, 0, 0.5);

	border-bottom: 2px solid black;
	
	font-family: 'Dosis', sans-serif;
	color: white;
	font-size: 1.5em;
	text-align: center;
	
}

/*fixed position background type*/
.fixed {
	font-size: 2em;
	font-family: 'Quicksand', sans-serif;
	color: white;
	
	padding: 20% 5%;

}

/*fixed position background image*/
.abso{
	opacity: 0.3;
	position: fixed;
	top: 0;
	left: 0;
	
	z-index: -1;
}

@media screen and (min-width: 760px) {
	.fixed {
		position: fixed;
		bottom: 30px;
		left: 30px;
		width: 600px;
		
		font-size: 6em;
		font-family: 'Quicksand', sans-serif;
		color: white;
		
		padding: 0;
	}
}
