body{
	height: 100%;
	width: 100%;
	position: absolute;
	background: #777777;
	transition: background-color 1.5s ease;		
}

div{
	color: #444444;
	font-family: arial, sans-serif;
}

.holdme{
	margin: 0 auto;
	margin-top: 50px;
	padding: 50px 0 0 0;
	width: 250px;
	height: 400px;
}



#hea{
	background-color: #FFFFFF;	
	width: 100%;
	padding: 10px;
}

#buy{
	width: 100%;
	background-color: #555555;
	transition: background-color 1.5s ease;		
	padding: 10px;
}
