*{
	margin: 0;
	padding: 0;
}

body{
	height: 100%;
	width: 100%;
	background-color: rgb(255,128,0);	
}

.clokbox{
	position: fixed;
	bottom: 30px;
	right: 30px;
}

#clock{	
	font-family: 'Orbitron', sans-serif;
	font-size: 5em;
	color: #FFFFFF;
}
